.nav__container {
  background:linear-gradient( rgb(2, 2, 129)0%, rgb(7, 7, 187)50%);
  height: 76px;
}
.nav__btn{
  border: none;
  background-color: initial;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 250ms linear;
}

.nav__btn:hover{
  color: rgb(94, 174, 208);
  
  font-size: 1.3rem;
  

  border-bottom: 4px solid rgb(94, 174, 208); ;

}